<div ng-controller="TreeViewController">

       
   
                <div class="demo-section k-content">
                    <div class="box-col">
                        <input id="treeSearch" ng-model="searchInput" class="treeSearch" type="text" placeholder="Type sponsor id to search">
                            <md-button class="treeSearchButton" ng-click="viewChildren(searchInput)">Get Tree</md-button></input>
                        <div kendo-tree-view="tree" id="treeviewDiv"
                         k-data-source="treeData" 
                         k-on-change="selectedItem = dataItem">
                        
                         <md-card  class="showcase-item__link" k-template style="height: 130px;cursor: pointer;" ng-click='addBelow(dataItem,selectedItem)' >
                                <md-card-content>
                                <!-- <h4><center>On joining 2 pair</center></h4><br>
                                <h5>Get 500 cashback<br>and <br>DINNER SET</h5> -->
                                
                                <!-- <img ng-src="/modules/users/client/img/offer/dinner_set.jpg"> -->
                               
                                       <!-- <h5>Member Name</h5> -->
                                    <div style="width:100%">
                                        <img style="float: left;"  ng-click='addBelow(dataItem,selectedItem)' class="header-profile-image" src="modules/users/client/img/profile/default.png">
                                        
                                    </div>   
                                    <h5 > {{dataItem.displayName}}</h5>
                                    <h5> Id:{{dataItem.name}}</h5>
                                    <!-- <h5> {{dataItem.your_address}}</h5> -->

                                    <h5> Sponsor :{{dataItem.sponsor_id}}</h5>
                                    <h5> Side :{{dataItem.side}}</h5>
                                
                                
                                <!-- <a class="btn btn-default b" width="50px" ui-sref="addmember">2 Pair</a> -->
                                
                               </md-card-content>
                                <!-- <md-card-footer>
                                            <a class="btn btn-default b" width="50px" ui-sref="addmember">2 Pair</a>
                                 </md-card-footer> -->
                                </md-card>
                            <!-- <span k-template>
                                    <img ng-src="modules/users/client/img/profile/default.png" ng-click='addBelow(dataItem)' class="header-profile-image" src="modules/users/client/img/profile/default.png">
                                    {{dataItem.name}}
                                 <! {{dataItem.name}} <button class='k-button' ng-click='addBelow(dataItem)'>GetChild</button> -->
                            <!-- </span> -->
                         </div>
                    </div>
                    <!-- <div class="box-col" ng-show="selectedItem">
                      <h4>Selected: {{selectedItem}}</h4>
                      <button class="k-button" ng-click="addAfter(selectedItem)">Get Child</button>
                      <button class="k-button" ng-click="addBelow(selectedItem)">Add child item</button>
                      <button class="k-button" ng-click="remove(selectedItem)">Delete</button>
                    </div> -->
                </div>
                <!-- <style>
                    
                    .k-treeview .k-in .k-minus .k-plus .k-state-selected .k-icon{
                        padding: 50px;
                        background: red;

                    }
                </style> -->

<!-- 
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.common-material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.material.mobile.min.css" />  -->

<!-- <script src="https://kendo.cdn.telerik.com/2018.3.911/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2018.3.911/js/angular.min.js"></script> -->
<!-- <script src="https://kendo.cdn.telerik.com/2018.3.911/js/kendo.all.min.js"></script> -->
        



   
   <!-- <script type="text/ng-template" id="tree_item_renderer.html">
    {{data.name}}{{data.side}}
    <button ng-click="viewChildren(data.name)">View Children</button>
    <button ng-click="delete(data)" ng-show="data.nodes.length > 0">Delete nodes</button>
    <ul >
        <li ng-repeat="data in nodes" ng-include="'tree_item_renderer.html'"></li>
    </ul>

   </script>
   <div style="width: 500px;left: 25%;position: relative">
    <ul style="list-style: none;" >
       
        <!-- {{data.side}} -->
        <!-- class="label label-{{event.Legal_Actions[0].Event_Action.seq_by === 1 ? 'warning':'danger'}}" -->
        <!-- <div style="position: relative;left: -25%;" ng-repeat="data in tree">
            <li  class="{{data.side === 'L' ? 'memberLeft':'memberRight'}}"  ng-include="'tree_item_renderer.html'"></li>
        </div>
    </ul>
</div>  --> 
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/boot.js"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/jasmine-html.js"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/jasmine.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/jasmine.js"/> -->
<md-progress-circular style="width:70px;height:70px;left: 50%; bottom: 50%;position:absolute; display: inline;" md-mode="indeterminate" ng-disabled="activated" class="md-warn md-hue-3" md-diameter="70"></md-progress-circular>
</div>




