<div style="background: #e7e7e7" ng-controller="HomeController">

<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<div class="carousel" data-flickity='{ "autoPlay": true }' style="height: 450px;marginBottom:100px;">
        <div class="carousel-cell">                        <!-- <img data-flickity-lazyload="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823_960_720.jpg" /> -->
        <img ng-src="https://wallpapermemory.com/uploads/426/bangkok-wallpaper-1080p-477996.jpg" width="100%" >             
       </div>
      
        <div class="carousel-cell">
        <img ng-src="https://c1.staticflickr.com/7/6139/6190407714_76f6c2cd7b_b.jpg" width="100%" />
        </div>
        
        <div class="carousel-cell">
        <img ng-src="https://images.pexels.com/photos/296941/pexels-photo-296941.jpeg" width="100%" >
        </div>
        <div class="carousel-cell">
        <img ng-src="https://images.pexels.com/photos/1438832/pexels-photo-1438832.jpeg" width="100%" >
        </div>
</div>
<!-- <md-divider md-inset:true></md-divider> -->
<!-- <div style="background: #e7e7e7;" class="col-md-12">
<table class="showcase-header">
        <tr ><h3>Gifts and Cashbak</h3></tr>
</table>

</div> -->
</br></br>
<div class="col-md-12" style="background: #e7e7e7">
<table  >
                <tr ><h3>Gifts and Cashbak</h3></tr>
                <hr style="color:#DDD;width:300px"></hr>
    <tr>
        <td>
              <md-card  class="showcase-item__link">
                    <md-card-content>
                    <!-- <h4><center>On joining 2 pair</center></h4><br>
                    <h5>Get 500 cashback<br>and <br>DINNER SET</h5> -->
                    
                    <img ng-src="/modules/users/client/img/offer/dinner_set.jpg">
                   
                           <h5>Dinner Set</h5>
                        <h5>Rs.500 Cashbak</h5>
                    
                    
                    <a class="btn btn-default b" width="50px" ui-sref="addmember">2 Pair</a>
                    
                   </md-card-content>
                    <!-- <md-card-footer>
                                <a class="btn btn-default b" width="50px" ui-sref="addmember">2 Pair</a>
                     </md-card-footer> -->
                    </md-card>
                    
    </td>
    <td>
            <md-card class="showcase-item__link">
                <md-card-content>
                        <!-- <h4><center>On joining 25 pair</center></h4><br>
                        <h5>Get 5000 cashback<br>and <br>MOBILE</h5> -->
                        <img ng-src="/modules/users/client/img/offer/mobile.jpg">
                        <h5>Mobile Phones</h5>
                        <h5>Rs.5000 Cash</h5>
                        <a class="btn btn-default b" ui-sref="addmember">25 Pair</a>
               </md-card-content>
                <!-- <md-card-footer>
                        
                 </md-card-footer> -->
                </md-card>
</td>
<td>
        <md-card class="showcase-item__link">
            <md-card-content>
                    <!-- <h4><center>On joining 50 pair</center></h4><br>
                    <h5>Get 7000 cashback<br>OR<br>BANGKOK TRIP</h5> -->
                    <img ng-src="/modules/users/client/img/offer/bankok_trip.jpg">
                    <h5>Bankok Trip</h5>
                    <h5>Rs.7000 Cash</h5>
                    <a class="btn btn-default b" ui-sref="addmember">50 Pair</a>
           </md-card-content>
            <!-- <md-card-footer>
                    <a class="btn btn-default b" ui-sref="addmember">50 Pair</a>
             </md-card-footer> -->
            </md-card>
</td>
    </tr>

    <tr>
        <td>
              <md-card  class="showcase-item__link">
                    <md-card-content>
                    <!-- <h4><center>On joining 2 pair</center></h4><br>
                    <h5>Get 500 cashback<br>and <br>DINNER SET</h5> -->
                    
                    <img ng-src="/modules/users/client/img/offer/dinner_set.jpg">
                   
                           <h5>Dinner Set</h5>
                        <h5>Rs.500 Cashbak</h5>
                    
                    
                    <a class="btn btn-default b" width="50px" ui-sref="addmember">2 Pair</a>
                    
                   </md-card-content>
                    <!-- <md-card-footer>
                                <a class="btn btn-default b" width="50px" ui-sref="addmember">2 Pair</a>
                     </md-card-footer> -->
                    </md-card>
                    
    </td>
    <td>
            <md-card class="showcase-item__link">
                <md-card-content>
                        <!-- <h4><center>On joining 25 pair</center></h4><br>
                        <h5>Get 5000 cashback<br>and <br>MOBILE</h5> -->
                        <img ng-src="/modules/users/client/img/offer/mobile.jpg">
                        <h5>Mobile Phones</h5>
                        <h5>Rs.5000 Cash</h5>
                        <a class="btn btn-default b" ui-sref="addmember">25 Pair</a>
               </md-card-content>
                <!-- <md-card-footer>
                        
                 </md-card-footer> -->
                </md-card>
</td>
<td>
        <md-card class="showcase-item__link">
            <md-card-content>
                    <!-- <h4><center>On joining 50 pair</center></h4><br>
                    <h5>Get 7000 cashback<br>OR<br>BANGKOK TRIP</h5> -->
                    <img ng-src="/modules/users/client/img/offer/bankok_trip.jpg">
                    <h5>Bankok Trip</h5>
                    <h5>Rs.7000 Cash</h5>
                    <a class="btn btn-default b" ui-sref="addmember">50 Pair</a>
           </md-card-content>
            <!-- <md-card-footer>
                    <a class="btn btn-default b" ui-sref="addmember">50 Pair</a>
             </md-card-footer> -->
            </md-card>
</td>
    </tr>
    <tr>
        <td>
              <md-card  class="showcase-item__link">
                    <md-card-content>
                    <!-- <h4><center>On joining 2 pair</center></h4><br>
                    <h5>Get 500 cashback<br>and <br>DINNER SET</h5> -->
                    
                    <img ng-src="/modules/users/client/img/offer/dinner_set.jpg">
                   
                           <h5>Dinner Set</h5>
                        <h5>Rs.500 Cashbak</h5>
                    
                    
                    <a class="btn btn-default b" width="50px" ui-sref="addmember">2 Pair</a>
                    
                   </md-card-content>
                    <!-- <md-card-footer>
                                <a class="btn btn-default b" width="50px" ui-sref="addmember">2 Pair</a>
                     </md-card-footer> -->
                    </md-card>
                    
    </td>
    <td>
            <md-card class="showcase-item__link">
                <md-card-content>
                        <!-- <h4><center>On joining 25 pair</center></h4><br>
                        <h5>Get 5000 cashback<br>and <br>MOBILE</h5> -->
                        <img ng-src="/modules/users/client/img/offer/mobile.jpg">
                        <h5>Mobile Phones</h5>
                        <h5>Rs.5000 Cash</h5>
                        <a class="btn btn-default b" ui-sref="addmember">25 Pair</a>
               </md-card-content>
                <!-- <md-card-footer>
                        
                 </md-card-footer> -->
                </md-card>
</td>
<td>
        <md-card class="showcase-item__link">
            <md-card-content>
                    <!-- <h4><center>On joining 50 pair</center></h4><br>
                    <h5>Get 7000 cashback<br>OR<br>BANGKOK TRIP</h5> -->
                    <img ng-src="/modules/users/client/img/offer/bankok_trip.jpg">
                    <h5>Bankok Trip</h5>
                    <h5>Rs.7000 Cash</h5>
                    <a class="btn btn-default b" ui-sref="addmember">50 Pair</a>
           </md-card-content>
            <!-- <md-card-footer>
                    <a class="btn btn-default b" ui-sref="addmember">50 Pair</a>
             </md-card-footer> -->
            </md-card>
</td>
    </tr>
    <tr>
        <td>
              <md-card  class="showcase-item__link">
                    <md-card-content>
                    <!-- <h4><center>On joining 2 pair</center></h4><br>
                    <h5>Get 500 cashback<br>and <br>DINNER SET</h5> -->
                    
                    <img ng-src="/modules/users/client/img/offer/dinner_set.jpg">
                   
                           <h5>Dinner Set</h5>
                        <h5>Rs.500 Cashbak</h5>
                    
                    
                    <a class="btn btn-default b" width="50px" ui-sref="addmember">2 Pair</a>
                    
                   </md-card-content>
                    <!-- <md-card-footer>
                                <a class="btn btn-default b" width="50px" ui-sref="addmember">2 Pair</a>
                     </md-card-footer> -->
                    </md-card>
                    
    </td>
    <td>
            <md-card class="showcase-item__link">
                <md-card-content>
                        <!-- <h4><center>On joining 25 pair</center></h4><br>
                        <h5>Get 5000 cashback<br>and <br>MOBILE</h5> -->
                        <img ng-src="/modules/users/client/img/offer/mobile.jpg">
                        <h5>Mobile Phones</h5>
                        <h5>Rs.5000 Cash</h5>
                        <a class="btn btn-default b" ui-sref="addmember">25 Pair</a>
               </md-card-content>
                <!-- <md-card-footer>
                        
                 </md-card-footer> -->
                </md-card>
</td>
<td>
        <md-card class="showcase-item__link">
            <md-card-content>
                    <!-- <h4><center>On joining 50 pair</center></h4><br>
                    <h5>Get 7000 cashback<br>OR<br>BANGKOK TRIP</h5> -->
                    <img ng-src="/modules/users/client/img/offer/bankok_trip.jpg">
                    <h5>Bankok Trip</h5>
                    <h5>Rs.7000 Cash</h5>
                    <a class="btn btn-default b" ui-sref="addmember">50 Pair</a>
           </md-card-content>
            <!-- <md-card-footer>
                    <a class="btn btn-default b" ui-sref="addmember">50 Pair</a>
             </md-card-footer> -->
            </md-card>
</td>
    </tr>
    <tr>
        <td>
              <md-card  class="showcase-item__link">
                    <md-card-content>
                    <!-- <h4><center>On joining 2 pair</center></h4><br>
                    <h5>Get 500 cashback<br>and <br>DINNER SET</h5> -->
                    
                    <img ng-src="/modules/users/client/img/offer/dinner_set.jpg">
                   
                           <h5>Dinner Set</h5>
                        <h5>Rs.500 Cashbak</h5>
                    
                    
                    <a class="btn btn-default b" width="50px" ui-sref="addmember">2 Pair</a>
                    
                   </md-card-content>
                    <!-- <md-card-footer>
                                <a class="btn btn-default b" width="50px" ui-sref="addmember">2 Pair</a>
                     </md-card-footer> -->
                    </md-card>
                    
    </td>
    <td>
            <md-card class="showcase-item__link">
                <md-card-content>
                        <!-- <h4><center>On joining 25 pair</center></h4><br>
                        <h5>Get 5000 cashback<br>and <br>MOBILE</h5> -->
                        <img ng-src="/modules/users/client/img/offer/mobile.jpg">
                        <h5>Mobile Phones</h5>
                        <h5>Rs.5000 Cash</h5>
                        <a class="btn btn-default b" ui-sref="addmember">25 Pair</a>
               </md-card-content>
                <!-- <md-card-footer>
                        
                 </md-card-footer> -->
                </md-card>
</td>
<td>
        <md-card class="showcase-item__link">
            <md-card-content>
                    <!-- <h4><center>On joining 50 pair</center></h4><br>
                    <h5>Get 7000 cashback<br>OR<br>BANGKOK TRIP</h5> -->
                    <img ng-src="/modules/users/client/img/offer/bankok_trip.jpg">
                    <h5>Bankok Trip</h5>
                    <h5>Rs.7000 Cash</h5>
                    <a class="btn btn-default b" ui-sref="addmember">50 Pair</a>
           </md-card-content>
            <!-- <md-card-footer>
                    <a class="btn btn-default b" ui-sref="addmember">50 Pair</a>
             </md-card-footer> -->
            </md-card>
</td>
    </tr>
                    <tr>
                        <td>
                                <md-card class="showcase-item__link">
                                    <md-card-content>
                                            <!-- <h4><center>On joining 50 pair</center></h4><br>
                                            <h5>Get 7000 cashback<br>OR<br>BANGKOK TRIP</h5> -->
                                            <img ng-src="/modules/users/client/img/offer/bankok_trip.jpg">
                                            <h5>Bankok Trip</h5>
                                            <h5>Rs.7000 Cash</h5>
                                            <a class="btn btn-default b" ui-sref="addmember">50 Pair</a>
                                   </md-card-content>
                                    <!-- <md-card-footer>
                                            <a class="btn btn-default b" ui-sref="addmember">50 Pair</a>
                                     </md-card-footer> -->
                                    </md-card>
                        </td>
                        </tr>
</table>
</div>
        
     </div>